{
  "env": {
    "es2021": true,
    "node": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "airbnb",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "promise",
    "react",
    "react-hooks",
    "jsx-a11y",
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".jsx", ".tsx"]}],
    "react/no-unknown-property": [1],
    "import/extensions": [1, "never"],
    "import/no-unresolved": [0, {"ignore": ["^@/"]}],
    "import/prefer-default-export": [0]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser"
}
