.screen-body-acerca p {
	color: var(--textosft);
}
.screen-body-acerca i {
	font-size: 1rem;
	margin: 0 1rem;
	color: var(--textosft);
	opacity: 0.5;
}

.botones {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info-proyectos {
	text-align: center;
}
.info-proyectos * {
	margin-top: 1px;
	margin-bottom: 1px;
}
@media (max-width: 768px) {
	.botones {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.screen-body {
	display: flex;
}
.screen-body-item {
	flex: 1;
	padding: 50px;
}
.screen-body-item.left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

h2#proyectos {
	margin: 0px 5px 5px 5px;
	font-size: 4rem;
	font-weight: bold;
	background-image: linear-gradient(
		90deg,
		var(--primario) 0%,
		var(--acento) 100%
	);
	background-size: 400% 400%;
	animation: fondo 5s linear infinite;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
input.prevcon {
	display: none;
}
.previo-contacto {
	position: relative;
	height: 80vh;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap-contacto {
	width: 100px;
	margin-top: 2rem;
	padding: 15px 15px 3px;
	display: flex;
	flex-direction: column;
}
.block-contacto {
	width: 100px;
	position: relative;
	margin: 0 0 12px;
	display: flex;
	align-items: center;
}
span.prevcon {
	letter-spacing: 0.5px;
	font-size: 1rem;
	margin-left: 0.25rem;
	color: var(--textostr);
}
label.prevcon {
	width: 50px;
	height: 25px;
	box-sizing: border-box;
	border: 1.5px solid var(--primario);
	border-radius: 50px;
	position: relative;
	cursor: pointer;
	transition: 0.3s ease;
}
input.prevcon[type='checkbox']:checked + label {
	background: var(--check1);
}
label.prevcon:before {
	transition: 0.3s ease;
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background: #fff;
	left: 1px;
	top: 1px;
	box-sizing: border-box;
	border: 1.5px solid var(--primario);
	color: #000;
	background-color: var(--check1);
	border-radius: 50px;
}
input.prevcon[type='checkbox']:checked + label:before {
	left: 25px;
	background-color: var(--check2);
}
.container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
}
.screen {
	position: relative;
	background: var(--fondojr);
	border-radius: 15px;
}
.screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	z-index: -1;
}
.screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: var(--primario);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.screen-header-left {
	flex: 1 1 auto;
}
.screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
}
.screen-header-button.close {
	background: #ed1c6f;
}
.screen-header-button.maximize {
	background: #e8e925;
}
.screen-header-button.minimize {
	background: #74c54f;
}
.screen-header-right {
	display: flex;
	flex: 1 1 auto;
}
.screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: var(--textostr);
}

.screen-body-item.left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: var(--textostr);
	font-size: 26px;
}
.app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: var(--hermano);
}
.app-contact {
	margin-top: auto;
	font-size: 1rem;
	color: var(--textosft);
}

.app-form-button {
	background: var(--hermano);
	border: none;
	border-radius: 3px;
	color: var(--textosft);
	font-size: 14px;
	cursor: pointer;
	outline: none;
}
.app-form-button:hover {
	color: #fff;
}
@media screen and (max-width: 520px) {
	#contact-info {
		display: none;
	}
}
.glass {
	z-index: 9;
}
.glass li {
	margin: 0 10px;
}
.mb-1 {
	margin-bottom: 1rem;
}
.blog {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}
@media (max-width: 999px) {
	.blog {
		padding: 0 10px;
		flex-direction: column;
	}
}
@media (max-width: 999px) {
	.blog aside {
		width: 100%;
	}
}
@media (min-width: 1000px) {
	.blog aside {
		width: 33%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}
@media (min-width: 768px) {
	.aside-video {
		margin-top: 100vh;
	}
}
.foto-autor img {
	width: 200px;
	height: auto;
}
.sin-margen * {
	margin: 0;
}
@media (max-width: 768px) {
	.sin-margen {
		display: none;
	}
}

.post-title {
	font-size: 3rem;
	color: var(--textostr);
}
.post-meta {
	margin: 0 auto;
}
.post-content {
	max-width: 70ch;
	font-size: 20px;
	line-height: 35px;
	text-align: left;
	padding: 0px 15px;
}
.post-content h1 {
	font-size: 25px;
	color: var(--textostr);
}
.post-content h2,
.post-content h3 {
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
	color: var(--textostr);
}
.post-content p {
	color: var(--textosft);
}
kbd {
	font-size: 0.9em;
	padding: 0.0625rem 0.5rem;
	border-radius: 0.125rem;
	border: 1px solid var(--primario);
	box-shadow: 1px 1px 0 var(--primario), 2px 2px 0 var(--primario);
	margin: 0 0.25rem;
	color: var(--primario);
	font-family: monospace;
	cursor: pointer;
}
deckgo-highlight-code {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.m-b {
	margin-bottom: 4rem;
}
@keyframes icono {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(15%);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-15%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fondo {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (min-width: 1350px) {
	.swiper-button-next {
		margin-right: 150px;
	}
	.swiper-button-prev {
		margin-left: 150px;
	}
}
@media screen and (max-width: 1024px) {
	.hero-up {
		flex-direction: column-reverse;
	}
	html {
		font-size: 14px;
	}
	.proyectos {
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
	header {
		padding: 0px 15px;
	}
	header > .logo {
		font-size: 1.75rem;
		letter-spacing: 1.75px;
	}
	.screen-body-proyectos {
		flex-direction: column;
	}
	.swiper-container {
		height: auto;
	}
	.hero-copy {
		width: 80%;
	}
	.cuerpo-pantalla {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.columna-carta-der {
		padding: 10px 35px;
		margin: 10px 0;
	}
	.columna-carta-izq {
		padding: 5px 15px;
	}
	.columna-carta-izq img {
		width: 50%;
	}
}
@media screen and (max-width: 568px) {
	html {
		font-size: 12px;
	}
	li:nth-child(4) {
		display: none;
	}
	header {
		padding: 0px 5px;
	}
	header > .logo {
		font-size: 1.5rem;
		letter-spacing: 1.5px;
	}
	.columna-carta-izq img {
		width: 75%;
	}
}

.container-pantalla {
	flex: 0 1 900px;
	margin: auto;
	padding: 10px;
	cursor: grab;
}
.pantalla {
	position: relative;
	background: var(--fondojr);
	border-radius: 15px;
	box-sizing: border-box;
	margin-bottom: 25px;
}
.pantalla:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
	z-index: -1;
}
.columna-carta-der {
	flex: 1;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.columna-carta-der * {
	color: var(--textosft);
}
.columna-carta-der h3 {
	color: var(--textostr);
}
.columna-carta-izq {
	flex: 1;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.columna-carta-izq img {
	max-width: 100%;
	height: auto;
}
.cabecera-pantalla {
	display: flex;
	align-items: space-between;
	padding: 10px 20px;
	background: var(--primario);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.cabecera-izq {
	flex: 0 1 auto;
}
.cabecera-der {
	flex: 0 1 auto;
	display: flex;
}
.cabecera-centro {
	flex: 10 1 auto;
	display: flex;
	justify-content: center;
	color: var(--fondo);
}
.boton-pantalla {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
}
.boton-pantalla.close {
	background: #ed1c6f;
}
.boton-pantalla.maximize {
	background: #e8e925;
}
.boton-pantalla.minimize {
	background: #74c54f;
}
.ellipsis {
	width: 3px;
	height: 3px;
	margin: auto;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 4px;
	background: var(--textostr);
	display: inline-block;
}
.descripcion {
	display: flex;
	flex-direction: column;
}
.manita {
	cursor: move;
}
@media screen and (max-width: 600px) {
	.screen-body {
		padding: 40px;
	}
	.screen-body-item {
		padding: 0;
	}
}
@media screen and (max-width: 520px) {
	.screen-body {
		flex-direction: column;
	}
	.screen-body-item.left {
		margin-bottom: 30px;
	}
	.app-title {
		flex-direction: row;
	}
	.app-title span {
		margin-right: 12px;
	}
	.app-title:after {
		display: none;
	}
}
@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}
}
@media (max-width: 768px) {
	.wrap-contacto {
		display: none;
	}
	#js24 {
		display: none;
	}
}
.newsletter {
	margin: 0 auto;
}
@media (min-width: 768px) {
	.newsletter {
		width: 80%;
	}
}
.newsletter .centrar {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 668px) {
	.about-author .cont {
		flex-direction: column-reverse;
	}
}

.thumbnail-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin: 0 auto;
}
.thumbnail-blog {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 420px;
	min-height: 420px;
	background-color: var(--fondojr);
	border-radius: 10px;
	box-shadow: 5.2px 10.4px 10.4px rgba(0, 0, 0, 0.34);
}
.thumbnail-blog:hover {
	box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.25);
	transform: scale(105%);
}
.thumbnail-blog img {
	max-width: 100%;
}
.thumbnail-blog h3 {
	font-size: 22px;
	margin-top: 10px;
}
.acerca-hero {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	margin-top: 0;
}
.acerca-hero > * {
	margin-bottom: 20px;
}

.txt-colorido {
	margin: 0px 5px 5px 5px;
	font-size: 2.5rem;
	font-weight: bold;
	background-image: linear-gradient(
		90deg,
		var(--primario) 0%,
		var(--acento) 100%
	);
	background-size: 400% 400%;
	animation: fondo 5s linear infinite;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/* //TODO REGRESAR */
/* a.fancy,
.blog a,
.fancy a {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	text-decoration: none;
	font-weight: bold;
	color: #ec407a;
	z-index: 2;
} */

.tag-thumbnail {
	padding: 0 10px;
}
.gap-3 {
	gap: 10px;
}
.btn-blog {
	outline: none;
	background-color: var(--fondo);
	border: none;
	padding: none;
	width: fit-content;
	margin: 0 15px;
}
.megusta-blog {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 250px;
}
.megusta-blog button {
	margin-bottom: 15px;
}
.megusta-blog img {
	margin-right: 10px;
}
@media screen and (max-width: 768px) {
	.megusta-blog {
		display: none;
	}
}
.header-luis {
	max-width: 60px;
	height: auto;
}

.theme-icon {
	background-color: var(--textosft);
	border-radius: 50%;
	font-size: 1.5rem;
	color: var(--fondo);
}
.menu-icon {
	color: var(--textosft);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	background-image: linear-gradient(
		90deg,
		var(--hermano) 50%,
		var(--hermano) 0
	);
	background-position: 0;
	background-repeat: no-repeat;
	background-size: 100% 6px;
	display: inline-block;
	margin: 2rem 0;
	margin-bottom: 3rem;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.5;
}

footer.global-footer {
	background-color: var(--fondo);
}
footer.global-footer p {
	color: var(--textostr);
}
