@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primario: hsl(207, 68%, 50%);
    --hermano: hsl(207, 51%, 68%);
    --acento: hsl(359, 89%, 64%);

    --fondo: hsl(0, 0%, 100%);
    --fondo-jr: hsl(0, 0%, 97%);
    --texto-str: hsl(0, 0%, 10%);
    --texto-sft: hsl(0, 0%, 25%);
    --code: #222222;

    /* misc */
    --ola: url("../assets/img/oladay.png");

    --scrollbar: hsl(205, 21%, 17%);
    --ola-color: var(--hermano);
    --sombras: rgba(0, 0, 0, 0.4);
    --boton: hsl(359, 59%, 64%);
    --hover: var(--texto-str);
    --trans: 1s;
    --check1: var(--hermano);
    --check2: var(--fondojr);

    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  body.modal {
    overflow-y: hidden;
  }

  body.oscuro {
    --primario: hsl(207, 68%, 40%);
    --hermano: hsl(207, 51%, 58%);
    --acento: hsl(359, 59%, 64%);
    --fondo: hsl(205, 31%, 12%);
    --fondoOpuesto: hsl(0, 0%, 95%);
    --fondo-jr: hsl(205, 21%, 17%);
    --texto-str: hsl(0, 0%, 95%);
    --texto-sft: hsl(0, 0%, 85%);
    --code: #5a5b72;
    --scrollbar: var(--hermano);
    --ola: url("../assets/img/olanight.png");
    --sombras: rgba(0, 0, 0, 0.678);
    --ola-color: #cbd5f6;
    --hover: var(--hermano);
    --check1: var(--ola-color);
    --check2: var(--hermano);
  }

  .fondo-pts {
    background-image: radial-gradient(
        rgba(120, 121, 151, 0.87) 1.5px,
        transparent 1.5px
      ),
      radial-gradient(rgba(120, 121, 151, 0.87) 1.5px, var(--fondo) 1.5px);
    background-size: 100px 100px;
    background-position: 0 0, 40px 40px;
  }

  body.oscuro img {
    filter: brightness(0.85) contrast(1.1);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  kbd {
    font-size: 0.9em;
    padding: 0.0625rem 0.5rem;
    border-radius: 0.125rem;
    border: 1px solid var(--primario);
    box-shadow: 1px 1px 0 var(--primario), 2px 2px 0 var(--primario);
    margin: 0 0.25rem;
    color: var(--primario);
    font-family: monospace;
    cursor: pointer;
  }

  /*   ::-webkit-scrollbar {
    background: var(--ola-color);
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--acento);
  }
 */
}

@layer utilities {
  .fancy {
    @apply relative z-10 cursor-pointer overflow-hidden font-bold text-pink-500;
  }

  article#blog a {
    position: relative;
  }

  a.fancy::after,
  article#blog a::after {
    content: "";
    background: rgba(236, 64, 122, 0.25);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: 1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  a.fancy:hover:after,
  article#blog a:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }

  a.snake {
    text-decoration: none;
    background-image: linear-gradient(var(--primario), var(--primario));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size cubic-bezier(0, 0.5, 0, 1) 0.3s;
  }
  a.snake:hover,
  a.snake:focus {
    text-decoration: none;
    background-size: 100% 4px;
  }

  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--hermano);
    color: var(--texto-sft);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color 0.2s;
  }

  .app-form-control::placeholder {
    color: #666;
  }
  .app-form-control:focus {
    border-bottom-color: var(--acento);
  }

  .glassmorph {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
  }
  .glassmorph-dark {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
  }
}
