:root {
	--primario: hsl(207, 68%, 50%);
	--hermano: hsl(207, 51%, 68%);
	--acento: hsl(359, 89%, 64%);
	--fondo: hsl(0, 0%, 100%);
	--fondojr: hsl(0, 0%, 97%);
	--textostr: hsl(0, 0%, 10%);
	--textosft: hsl(0, 0%, 25%);
	--code: #222222;
	--ola: url('../assets/img/oladay.png');
	--scrollbar: hsl(205, 21%, 17%);
	--ola-color: var(--hermano);
	--sombras: rgba(0, 0, 0, 0.4);
	--boton: hsl(359, 59%, 64%);
	--hover: var(--textostr);
	--trans: 1s;
	--check1: var(--hermano);
	--check2: var(--fondojr);
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
}
