---
import {FaEnvelope, FaGithub, FaLinkedinIn} from "react-icons/fa/index.js";
import PageHTML from "../layouts/PageHTML.astro";
import {SHORT_RESUME_ES} from "../consts";
---

<PageHTML
  title="Acerca"
  description="Conoce todo acerca de Lasfito"
  image="/placeholder-social.jpg"
  lang="es-MX"
  type="website"
  date="2021-01-01"
>
  <section
    class="mx-auto flex h-[90vh] max-w-[70ch] flex-col items-center justify-evenly leading-loose"
  >
    <h1 class="text-3xl font-bold text-primario">
      ¿Quién es <strong>Lasfito</strong> ?
    </h1>

    <h2 class="my-5 text-4xl">Resumen</h2>
    <p class="text-xl">
      {SHORT_RESUME_ES}
    </p>

    <h2 class="text-4xl">Contacto</h2>

    <div class="z-10 my-4 text-texto-sft">
      <ul class="flex flex-col text-xl no-underline">
        <li class="my-3">
          <a
            href="https://www.linkedin.com/in/lasfito/"
            target="_blank"
            class="snake flex items-center gap-4"
            rel="noreferrer"
            class="flex w-[500px] items-center"
          >
            <FaLinkedinIn />
            Revisa mi perfil en Linkedin
          </a>
        </li>
        <li class="my-3">
          <a
            href="https://github.com/lasfito"
            target="_blank"
            class="snake flex items-center gap-4"
            rel="noreferrer"
          >
            <FaGithub />
            Echa un vistazo a mi perfil en Github
          </a>
        </li>
        <li class="my-3">
          <a
            href="mailto:hola@lasfi.to"
            class="snake flex items-center gap-4"
            rel="noreferrer"
          >
            <FaEnvelope />O envíame un correo
          </a>
        </li>
      </ul>
    </div>
  </section>
</PageHTML>
