---
import { Luis } from '../assets/img';
import PageHTML from '../layouts/PageHTML.astro';
---

<PageHTML
	title="Gracias"
	description="Pronto me comunicaré contigo."
	image="/placeholder-social.jpg"
	lang="es-MX"
	type="website"
	date="2021-01-01"
>
	<section class="about-author buffer">
		<div class="cont">
			<div>
				<h1>Gracias</h1>
				<p>
					He recibido tu mensaje. Dentro de pronto me pondré en contacto al
					correo que indicaste.
				</p>
			</div>
			<div class="foto-autor">
				<img src={Luis} />
			</div>
		</div>
	</section>
</PageHTML>
